@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles for hero section */
.hero-section {
  clip-path: url(#688e55bffa86f3be48523163-jaggedRight);
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.hero-section .absolute.inset-0 {
  width: 100vw;
  height: 100%;
}

.heading-xlarge {
  font-size: 2.25rem; /* Equivalent to text-4xl */
  line-height: 2.5rem;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .heading-xlarge {
    font-size: 3rem; /* Equivalent to text-5xl */
    line-height: 1;
  }
}

.body-normal {
  font-size: 1rem; /* Equivalent to text-base */
  line-height: 1.5;
  font-family: sans-serif;
}

.button {
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: white;
  color: black;
}
